
.slides{
  width: 100%;
}

.slides img {
   width: 100%;
}

.slidesjs-pagination{
  background: #424242;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;

}

.slidesjs-pagination li a:hover{
   background: #101010;
}

.slidesjs-pagination .active{
  background: #101010;
}

.slidesjs-navigation{
   background: #101010;
   color: #FFF;
   text-decoration: none;
   display: inline-block;
   padding: 11px 20px;
   float: right;
}